.footer-head-text {
  font-size: xx-large;
}
.footer-subhead-text {
  font-size: x-large;
}
.footer-text {
  font-size: large;
  height: 60px;
  color: #ff7314;
  font-weight: bold;
}
.foot {
  height: 40vh;
  background-color: #f4f4f4;
}

@media screen and (max-width: 767px) {
  .footer-head-text {
    font-size: x-large;
  }
  .footer-subhead-text {
    font-size: large;
  }
  .footer-text {
    font-size: medium;
    height: auto;
  }
  .foot {
    height: 50vh;
  }
}
